<table>
    <tbody>
    <tr>
        <td>
            Username:
        </td>
        <td>
            <input type="text" name="username" ng-model="vm.user.username" />
        </td>
    </tr>
    <tr>
        <td>
            Password:
        </td>
        <td>
            <input type="password" name="password" ng-model="vm.user.password" />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button type="button" ng-click="vm.login()">Login</button>
        </td>
    </tr>
    </tbody>
</table>
